<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Include/Cache/main.cssbundle.style")" rel="stylesheet" type="text/css" />
        @RenderSection("IncludeStyles", false)        
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        @Html.Partial(MVC.Shared.Views._menuBar)
        <div class="container">
            @RenderBody()
        </div>
        <div id="footer">
            <p>© Company 2012</p>
        </div>
        <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Include/Cache/main.jsbundle.script")" type="text/javascript"></script>
        @RenderSection("IncludeScripts", false)
    </body>
</html>