@using MvcBase.WebHelper.MVC.Extensions;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Notes - Login</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Include/Cache/main.cssbundle.style")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">My Notes</a>
                    <div class="nav-collapse">
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        <div id="mainContainer" class="center">
            <div class="row">
                <div id="loginSection" class="hero-unit offset6 span3">
                    <div class="row center"><h3>User Login</h3></div>
                    <div id="errMsg" class="row center">&nbsp;</div>
                    <div class="row center">
                        <input type="text" class="input-xlarge jqlc" placeholder="Username" name="Username" id="Username" />
                    </div>
                    <div class="row center">
                        <input type="password" class="input-xlarge jqlc" placeholder="Password" name="Password" id="Password" />
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row center">
                        <button id="btnLogIn" class="btn btn-primary" >Log In</button>
                        <button id="btnClear" class="btn" >Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Include/Cache/main.jsbundle.script")" type="text/javascript"></script>
        <script src="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Include/Cache/login.script")" type="text/javascript"></script>
        <script type="text/javascript" >
            var validateUrl = '@Url.Action(MVC.Login.Actions.ValidateCredentials())';
            var loginSuccessUrl = '@Url.Action(MVC.Home.Actions.Index())';
        </script>
    </body>
</html>