@model IEnumerable<MyNotes.UI.Web.ViewModels.User.UserViewModel>

<div class="row span8">
    <table class="table table-striped">  
        <thead>
            <tr>
                <th>S#</th>
                <th>Username</th>
                <th>Name</th>
                <th>Nickname</th>
                <th>Group name</th>
            </tr>  
        </thead>  
        <tbody>
            @{
                var index = 1;
                foreach (var user in Model)
                { 
                    <tr data-id="@user.Id">
                        <td>@index</td>
                        <td>@user.Username</td>
                        <td>@user.Name</td>
                        <td>@user.Nickname</td>
                        <td>@user.GroupName</td>
                    </tr>
                    index += 1;
                }
            }
        </tbody>  
    </table>
    <div class="row" >&nbsp;</div>
    <div class="row pull-right">
        <button id="btnNewUser" class="btn btn-primary">New User</button>
    </div>
</div>